@import "reset.css";

body {
    padding-top: 4em;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #def2f1;
}

header {
    height: 8vh;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #feffff;
    background-color: #2b7a78;
    top: 0;
    left: 0;
    right: 0;
}

.title {
    margin: 0.5rem 1rem ;
    font-weight: 500;
    font-size: 2rem;
} 

.c-menu-bar {
    font-size: 2rem;
    margin-right: 1rem;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 5px;
}

.menu-bar__detail {
    display: none;
    color: #17252A;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #feffff;
    width: 8rem;
    height: 100vh;
    padding: 2rem 1rem;
}


.c-menu-bar:hover> .menu-bar__detail {
    display: block;
}

.menu-bar__list {
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

}

.menu-bar__list-title {
    padding: 0 auto;
    margin-top: 0.5rem;
    font-weight: 200;
    font-size: 1rem;
    cursor: pointer;

}


.main {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

nav {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    height: fit-content;
    background-color: #2b7a78;
}


.nav__title {
    margin: 0.5rem 0.7rem;
    font-weight: 400;
    color: white;
    font-size: 1.2rem;
}


.nav__category {
    width: 6rem;
    margin: 0.3rem 0.5rem;
    padding:  0.2rem 0.8rem;
    align-content: stretch;
    background-color: #feffff;
    border-radius: 10px;
    font-weight: 500;
}

.nav__category:hover {
    color:#def2f1;
    background-color: #17252A;
    text-decoration: none;
}

.nav__category [href] {
    color: black;
}

.nav__category:hover [href]{
    color:#def2f1;
    background-color: #17252A;
}

section {
    flex-grow: 1;
    display: flex;
    flex-flow: wrap;

}

.section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 1rem;
    background-color: #feffff;
    border-radius: 20px;
    box-shadow: 2px 2px #2b7a78;
    width: 12rem;
    height: auto;
}

.section__title {
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.section__tag {
    padding-bottom: 0.5rem;
    width: 8rem;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section__tag-list {
    display: inline-block;
}


.section__img {
    object-fit:contain;
    margin: 1rem;
    max-width: 80%;
    height: 10vh
}

.section__like {
    align-self: flex-end;
    color: black;
    font-size: 2rem;
}

.section__like:hover {
    color: palevioletred;
}



@media(max-width:650px) {
    .card {
        width: 50vh;
        height: auto;
    }
    .bakery-tag {
        padding-bottom: 0.5rem;
        width: 45vw;
        height: auto;
        white-space:normal;
        text-align: center;

    }

}
