@import "reset.css";

body {
  padding-top: 4rem;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #def2f1;
}

header {
  display: flex;
  height: 4rem;
  position: fixed;
  justify-content: space-between;
  color: #feffff;
  background-color: #2b7a78;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  margin: 1rem;
  font-weight: 500;
  font-size: 2rem;
}

.c-menu-bar {
  font-size: 2.5rem;
  margin-right: 1rem;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0.2rem;
}

.menu-bar__detail {
  display: none;
  width: 8rem;
  height: 100vh;
  color: #17252a;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #feffff;
  padding: 2rem 1rem;
}

.c-menu-bar:hover > .menu-bar__detail {
  display: block;
}

.menu-bar__detail > h2 {
  border-bottom: 0.1rem solid #17252a;
  padding-bottom: 1rem;
}

.menu-bar__list > li {
  margin-top: 0.8rem;
  font-weight: 200;
  font-size: 1rem;
  cursor: pointer;
}

main {
  display: flex;
  padding-top: 1.2rem;
}

nav {
  display: flex;
  height: fit-content;
  border-radius: 1rem;
  flex-direction: column;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  background-color: #2b7a78;
}

nav > h2 {
  margin: 0.5rem 0.7rem;
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
}

.nav__category {
  width: 6rem;
  margin: 0.3rem 0.5rem;
  padding: 0.2rem 0.8rem;
  background-color: #feffff;
  border-radius: 2rem;
  font-weight: 500;
}

.nav__category:hover {
  color: #def2f1;
  background-color: #17252a;
}

.nav__category > p {
  display: inline-block;
}

section {
  display: flex;
  flex-flow: wrap;
}

.section__card {
  display: flex;
  width: 12rem;
  flex-direction: column;
  align-items: center;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 1rem;
  background-color: #feffff;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem #2b7a78;
}

.section__card h3 {
  margin: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.section__tag {
  width: 8rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__tag-list {
  display: inline-block;
}

.section__tag-list::before {
  content: "#";
}

.section__img {
  height: 16vh;
  margin: 1rem;
  object-fit: contain;
  max-width: 80%;
}

.section__like {
  align-self: flex-end;
  color: #17252a;
  font-size: 2rem;
}

.section__like:hover {
  color: #e97bac;
}

@media (max-width: 650px) {
  .section__card {
    width: 55vw;
    height: auto;
  }
  .section__tag {
    width: 45vw;
    height: auto;
    padding-bottom: 0.5rem;
    white-space: normal;
    overflow: auto;
    /* text-overflow: ellipsis; */
  }
}
