@import "reset.css";

body {
    padding-top: 4em;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #def2f1;
}

.header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #feffff;
    background-color: #2b7a78;
    top: 0;
    left: 0;
    right: 0;
}

.menuBar:hover {

}

.title {
    margin: 0.5rem 1rem ;
    font-weight: 500;
    font-size: 2rem;
} 

.menuBar {
    margin-right: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.nav {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    height: fit-content;
    background-color: #2b7a78;
}


.nav-title {
    margin: 0.5rem 0.7rem;
    font-weight: 400;
    color: white;
    font-size: 1.2rem;
}


.category {
    width: 6rem;
    margin: 0.3rem 0.5rem;
    padding:  0.2rem 0.8rem;
    align-content: stretch;
    background-color: #feffff;
    border-radius: 10px;
    font-weight: 500;
}

.category:hover {
    color:#def2f1;
    background-color: #17252A;
}

.cardsection {
    flex-grow: 1;
    display: flex;
    flex-flow: wrap;

}

.card {
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 1rem;
    background-color: #feffff;
    border-radius: 20px;
    box-shadow: 2px 2px #2b7a78;
    width: 10rem;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

.bakery-title {
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.bakery-tag {
    padding-bottom: 0.5rem;
    width: 6rem;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellisis;
}


.bakery-img {
    object-fit:contain;
    margin: 2rem;
    max-width: 70%;
}

/* 오른쪽으로 빼는 방법 구상하기... ㅜ */
.bakery-like {
    font-size: 1.5rem;
    left: 0;
}